<div class="d-inline-flex">
    <div class="card mt-5 ml-3" style="width: 18rem;">
        <img src="/assets/images/products.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Produits</h5>
            <p class="card-text">Consulter notre catalogue.</p>
            <a [routerLink]="['/catalogue']" class="btn btn-primary">Voir</a>
        </div>
    </div>

    <div class="card mt-5 ml-3" style="width: 18rem;">
        <img src="/assets/images/baskets.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Panier</h5>
            <p class="card-text">Consulter vos achats.</p>
            <a [routerLink]="['/basket']" class="btn btn-primary">Voir</a>
        </div>
    </div>

    
</div>

<div class="mt-5">
    <div class="card mt-5 ml-3" style="width: 18rem;">
        <img src="/assets/images/client.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Compte client</h5>
            <p class="card-text">Formulaire de création de compte client.</p>
            <a [routerLink]="['/client-form']" class="btn btn-primary">Voir</a>
        </div>
    </div>
</div>
