<div class="recap-content">
    <p>Civilite : {{client.civilite}}</p>
    <p>Nom : {{client.nom}}</p>
    <p>Prenom : {{client.prenom}}</p>
    <p>Numero de rue : {{client.adresse_num}}</p>
    <p>Rue : {{client.adresse_rue}}</p>
    <p>Code postal : {{client.adresse_cp}}</p>
    <p>Ville : {{client.adresse_ville}}</p>
    <p>Pays : {{client.adresse_pays}}</p>
    <p>Tel : {{client.tel}}</p>
    <p>Email : {{client.email}}</p>
    <p>Login : {{client.login}}</p>
    <p>Password : {{client.password}}</p>
</div>

